.DS_Store

.idea/
.gradle/
*.iml
workspace/

**/bin/
**/.apt_generated/
**/gen/
**/target/
**/.classpath
**/.factorypath
**/.project
**/.settings/

target
.classpath
.factorypath
.project
.settings

pom.xml.releaseBackup
release.properties
build
